<div class="container">
  <div class="row ">
    <div class="col s12 m6 l4 header">
      <img class=" circle responsive-img" [src]='cos(artista.images)'>
    </div>
    <div class="col s12 m6 l8 header">
      <h1>{{artista.name}}</h1>
      <div class = "genre">
        <strong>Genre:</strong>
        <span *ngFor="let genre of artista.genres">
          {{genre}},
        </span>
      </div>
      <br><button mz-button class="green" (click)='viewAlbums(artista)'> See albums </button>
    </div>

    <div class="col s12" *ngFor="let track of topTracks; let i = index ">
      <div class="row border">
        <div class="col s12 m3 l2 playIcon " (click)="hidden(i)">
            <img class=" responsive-img" [src]='cos(track.album.images)'>
        </div>
        <div class="col s12 m9 l10">
          <p class= "name">

            {{track.album.name}} - {{track.name}}
            </p>
            <a [href] = "track.external_urls.spotify" mz-tooltip
                [tooltip]="'Play in spotify'"
                [position]="'top'"
                [html]="true"
                [delay]="300">
                  <i mz-icon class="white-text"
                  [align]="'left'"
                  [icon]="'library_music'"
                  [size]="'small'">
                </i>
              </a>
              <a class="pointer"  (click)="openServiceModal(track.uri)"
                mz-tooltip
                [tooltip]="'Add track to playlist'"
                [position]="'top'"
                [html]="true"
                [delay]="300">
                <i mz-icon class="white-text"
                  [align]="'left'"
                  [icon]="'playlist_add'"
                  [size]="'small'">
                </i>
              </a>
          </div>
        <app-player [track]="track"></app-player>
      </div>
    </div>
  </div>
</div>
